h1 {
    color: blue;
    background-color: DodgerBlue;
}

.first-para {
    color: purple;
}

.second-para {
    color: orange;
    background-color: yellow;
}

.third-para {
    background-color: gray;
}